<a href="https://colab.research.google.com/github/yohan0923/code_3rd/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. To-Do List를 작성하시오.
  - 2023년 10월 19일 박요한
  - (1) 09:20 도서관에서 책 빌리기
  - (2) 11:10 컴퓨팅적 사고와 기초코딩 수업
  - (3) 13:00 점심식사
  - (4) 14:10 교양수업
  - (5) 16:00 파이썬 공부 및 레포트 작성
  - (6) 17:40 저녁식사 및 집안일 돕기
  - (7) 19:00 LOL하기

In [ ]:
print ("2023년 10월 19일 박요한")  # 날짜와 이름을 출력합니다.
print ("(1) 09:20 도서관에서 책 빌리기")  # 각 일정을 순서대로 출력합니다.
print ("(2) 11:10 컴퓨팅적 사고와 기초코딩 수업")
print ("(3) 13:00 점심식사")
print ("(4) 14:10 교양수업")
print ("(5) 16:00 파이썬 공부 및 레포트 작성")
print ("(6) 17:40 저녁식사 및 집안일 돕기")
print ("(7) 19:00 LOL하기")

2023년 10월 19일 박요한
(1) 09:20 도서관에서 책 빌리기
(2) 11:10 컴퓨팅적 사고와 기초코딩 수업
(3) 13:00 점심식사
(4) 14:10 교양수업
(5) 16:00 파이썬 공부 및 레포트 작성
(6) 17:40 저녁식사 및 집안일 돕기
(7) 19:00 LOL하기

2. 인사말 출력하기
 - 식사하셨습니까? 행님

In [ ]:
print ("식사하셨습니까? 행님.")  # "식사하셨습니까? 행님." 이라는 문장을 출력합니다.

식사하셨습니까? 행님.

3. 학생 4명의 국어 점수를 입력받아서 아래와 같이 출력하시오.
  - 박보검: 90점
  - 션:     92점
  - 도룡용: 80점
  - 차은우: 99점
  - 국어 점수 순위
  - 1등 차은우
  - 2등 션
  - 3등 박보검
  - 4등 도룡용

In [ ]:
n1 = input("박보검 학생 점수를 입력하시오.")  # 박보검 학생의 점수를 입력 받습니다.
n2 = input("션 학생 점수를 입력하시오.")  # 션 학생의 점수를 입력 받습니다.
n3 = input("도룡용 학생 점수를 입력하시오.")  # 도룡용 학생의 점수를 입력 받습니다.
n4 = input("차은우 학생 점수를 입력하시오.")  # 차은우 학생의 점수를 입력 받습니다.
print ("1등","차은우",n4)  # 순위를 출력합니다.
print ("2등","션",n2)
print ("3등","박보검",n1)
print ("4등","도룡용",n3)

박보검 학생 점수를 입력하시오.90
션 학생 점수를 입력하시오.92
도룡용 학생 점수를 입력하시오.80
차은우 학생 점수를 입력하시오.99
1등 차은우 99
2등 션 92
3등 박보검 90
4등 도룡용 80

4. 두개의 점수를 출력받아서 합계와 평균을 출력하시오.

In [ ]:
n1 = int(input("N1의 값을 입력하시오.:")) # 두 개의 숫자를 사용자로부터 입력받습니다. 입력받은 값은 문자열이므로 int() 함수를 사용하여 정수로 변환합니다.
n2 = int(input("N2의 값을 입력하시오.:"))
total = n1 + n2  # 두 숫자의 합을 계산합니다.
average = total / 2  # 두 숫자의 평균을 계산합니다.
print(average)  # 계산된 평균 값을 출력합니다.

N1의 값을 입력하시오.:50
N2의 값을 입력하시오.:50
50.0